/************************MEDIA QUERIES*********************/


@media screen and (max-width: 1060px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentacion {
        flex-direction: column;
        padding: 1rem;
    }

    .presentacion__contenedor {
        padding: 0;
        gap: 5px;
    }

    .presentacion__contenedor p {
        width: 80%;
        text-align: center;
    }

    .presentacion img {
        margin-right: 0;
        padding-top: 7rem;
    }

    .sobremi {
        flex-direction: column;
        height: auto;
    }

    .container{
        flex-direction: column;
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

}

@media screen and (max-width: 860px) {
    .servicios {
        flex-direction: column;
        align-items: center;
    }

    .cuidados .grid_container {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 2fr 1fr 1fr;
        grid-template-areas:
            "caja1 caja3"
            "caja2 caja4"
            "caja5 caja6"
            "caja7 caja8";
        margin: 1rem 0;
        justify-content: center;
    }

    .contacto .formulario {
        width: 90%;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(14, 1fr);
    }
}

@media screen and (max-width: 770px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        gap: 0px;
        grid-gap: 0px;
    }

    .navbar {
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 15vw;
        padding: .2rem 0;
    }
}

@media screen and (max-width: 660px) {
    .hero {
        flex-direction: column-reverse;
        position: relative;
        padding: 3rem;
        height: auto;
    }

    .img_hero {
        width: 35%;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .hero h1 {
        font-size: 10rem;
    }

    .cuidados .grid_container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "caja1 caja1"
            "caja2 caja2"
            "caja3 caja3"
            "caja4 caja4"
            "caja5 caja6"
            "caja7 caja8";
    }

    .sobremi p {
        text-align: center;
    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(28, 1fr);
    }

    .titulo_galeria h2 {
        text-wrap: wrap;
        padding-inline: 2.5rem;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    footer img {
        width: 70px;
    }

    .pie {
        line-height: 1;
        margin-bottom: 0;
        order: 2;
        padding: 1rem 0;

    }

}