/******************** SECCION PRESENTACION************************/


.presentacion {
    background-color: #daa8ba2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;

    .presentacion .presentacion__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .presentacion__contenedor h2 {
            color: #8C3264;
            font-size: 2rem;
        }
        .presentacion .presentacion__contenedor p {
            width: 60%;
            color: #363439;
            font-size: 1.2rem;
        }
        
    }

    .presentacion img {
        width: 70%;
        margin-right: 4rem;
    }
}







